@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  /* font-family: 'Oswald', sans-serif; */
  background-color: rgb(235, 237, 240);
  overflow-x: hidden;
}
*{
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}